# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Open in Marked.app': 'marked:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Marked'
      'submenu': [
        { 'label': 'Open in Marked', 'command': 'marked:open' }
      ]
    ]
  }
]
